#navbar {
  margin: 1vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 95%;
}
#navbar h1 {
  background: black;
  color: white;
  width: 25%;
}
#navbar_links {
  display: flex;
  text-align: center;
  margin: 0 16px;
  gap: 4vw;
  align-items: center;
}

#navbar_links a:hover {
  width: 8vw;
  border: 1px solid lightgreen;
}
